#all-services-section{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
}

#all-services-section > h4{
    color: white;
    background-color: black;
    border: 2px solid white;
    height: 35px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

@media (max-width: 500px) { 
    #all-services-section > h4{
        display: none;
    }
}